@model ContactViewModel

@{
    ViewBag.Title = "Contact Us";
}

@section scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">Please input your message</h3>
            </div>

            <form method="post">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.Raw(ViewBag.UserMessage)

                    <div class="form-group">
                        <label asp-for="Name" class="label-control">Your name</label>
                        <input asp-for="Name" class="form-control" placeholder="Enter name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="label-control">Email</label>
                        <input type="email" asp-for="Email" class="form-control" placeholder="Enter email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject" class="label-control">Subject</label>
                        <input type="text" asp-for="Subject" class="form-control" placeholder="Enter subject" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Message" class="label-control">Message</label>
                        <textarea rows="4" asp-for="Message" class="form-control" placeholder="Enter message"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary float-right"><i class="fa fa-envelope"></i> Send Message</button>
                </div>
                <!-- /.card-footer -->
            </form>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-md-6 -->
</div>
<!-- /.row -->