@model ContactViewModel
@{
    ViewBag.Title = "Contact Us";
}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>

                <div>
                    <form method="post">
                        <label asp-for="Name">Your name:</label>
                        <br />
                        <input asp-for="Name" />
                        <br />
                        <label asp-for="Email">Email:</label>
                        <br />
                        <input type="email" asp-for="Email" />
                        <br />
                        <label asp-for="Subject">Subject:</label>
                        <br />
                        <input type="text" asp-for="Subject" />
                        <br />
                        <label asp-for="Message">Message:</label>
                        <br />
                        <textarea rows="4" asp-for="Message"></textarea>
                        <br />
                        <input type="submit" value="Send Message" />
                    </form>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-md-6 -->
</div>
<!-- /.row -->