@model ContactViewModel

@{
    ViewBag.Title = "Contact Us";
}

@section scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Please input your message</div>

                <div class="card-text">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly"></div>

                        <label asp-for="Name">Your name:</label>
                        <br />
                        <input asp-for="Name" />
                        <span asp-validation-for="Name"></span>
                        <br />
                        <label asp-for="Email">Email:</label>
                        <br />
                        <input type="email" asp-for="Email" />
                        <span asp-validation-for="Email"></span>
                        <br />
                        <label asp-for="Subject">Subject:</label>
                        <br />
                        <input type="text" asp-for="Subject" />
                        <span asp-validation-for="Subject"></span>
                        <br />
                        <label asp-for="Message">Message:</label>
                        <br />
                        <textarea rows="4" asp-for="Message"></textarea>
                        <span asp-validation-for="Message"></span>
                        <br />
                        <input type="submit" value="Send Message" />
                    </form>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-md-6 -->
</div>
<!-- /.row -->