@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Welcome to Dutch Treat</h3>

                <p class="card-text">
                    
                </p>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-md-6 -->
</div>
<!-- /.row -->