<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card card-blue">
            <div class="card-header">
                <h3 class="card-title">Please input your identity</h3>
            </div>

            <form (submit)="onLogin()" #theForm="ngForm" novalidate>
                <div class="card-body">
                    <div class="form-group">
                        <label for="username" class="label-control">Username</label>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Enter Username" [(ngModel)]="creds.username" #username="ngModel" required />
                        <div class="text-danger" *ngIf="username.touched && username.invalid && username.errors && username.errors['required']">Username is required!</div>                    
                    </div>
                    <div class="form-group">
                        <label for="password" class="label-control">Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password" [(ngModel)]="creds.password" #password="ngModel" required />
                        <div class="text-danger" *ngIf="password.touched && password.invalid && password.errors && password.errors['required']">Password is required!</div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="theForm.invalid"><i class="fa fa-sign-in-alt"></i> Login</button>&nbsp;
                    <a routerLink="/" class="btn btn-default">Cancel</a>
                </div>
                <!-- /.card-footer -->
            </form>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-md-6 -->
</div>
<!-- /.row -->